<!-- 这个是第三个页面 -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Filedash - File Manager Dashboard</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="../static/assets/media/image/favicon.png"/>

    <!-- Main css -->
    <link rel="stylesheet" href="../static/vendors/bundle.css" type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">


    <!-- App css -->
    <link rel="stylesheet" href="../static/assets/css/app.css" type="text/css">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- Preloader -->
<div class="preloader">
    <div class="preloader-icon"></div>
</div>
<!-- ./ Preloader -->

<!-- Layout wrapper -->
<div class="layout-wrapper">
    <!-- Header -->
	<!-- 顶部的标题部分 -->
    <div class="header d-print-none">
        <div class="header-container">
            <div class="header-body">
				<p>5465456</p>
            </div>
        </div>
    </div>
    <!-- 顶部的标题部分 -->
	<!-- ./ Header -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- begin::navigation -->
		<!-- 左侧的切换页面的链接 -->
        <div class="navigation">
            <div class="logo">
                <a href="/ourIndex3/">
                    <img src="../static/assets/media/image/logo.png" alt="logo">
                </a>
            </div>
            <ul>
                <li>
                    <a  href="/ourIndex/">
                        <i class="nav-link-icon ti-pie-chart"></i>
                        <span class="nav-link-label">网页一</span>
                       
                    </a>
                </li>
                <li>
                    <a  href="/ourIndex2/">
                        <i class="nav-link-icon ti-pulse"></i>
                        <span class="nav-link-label">网页二</span>
                    </a>
                </li>
                <li>
                    <a  class="active"
                        href="/ourIndex3/">
						<i class="nav-link-icon ti-file"></i>
                        
                        <span class="nav-link-label">网页三</span>
                       
                    </a>
                </li>
                
               
            </ul>
        </div>
        <!-- 左侧的切换页面的链接 -->
		<!-- end::navigation -->

        <!-- Content body -->
		<!-- 右中间的部分 -->
        <div class="content-body">
            <!-- Content -->
            <div class="content">
                   <!-- 中间加的 -->
        		   <div class="content3_menu">
        		   	
        		   </div>
				   <div class="content3_text">
						<div class="content3 content3_first">
							
						</div>
						<div class="content3 content3_second">
							
						</div>
						<div class="content3 content3_three">
							
						</div>
				   </div> 
            </div>
            
        </div>
        <!-- 右中间的部分 -->
		<!-- ./ Content body -->

        
    </div>
    <!-- ./ Content wrapper -->
</div>
<!-- ./ Layout wrapper -->

<!-- Main scripts -->
<script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>
<script src="https://www.jq22.com/jquery/jquery-ui-1.11.0.js"></script>
<script src="../static/vendors/bundle.js"></script>	
<script src="../static/vendors/raphael-min.js"></script>
<script src="../static/vendors/justgage.min.js"></script>


<!-- App scripts -->
<script src="../static/assets/js/app.js"></script>
</body>
</html>
